
<h3>신이 <%=@name%>를 만들 때 <br></h3>
    <div style="float:left">
    <img src="<%=asset_path '1.png'%>"></img> <br>
    <%=@result[0]%> <%=@spoon[0]%> 스푼 <br>
    </div>
    <div style="float:left">
    <img src="<%=asset_path '2.png'%>"></img> <br>
    <%=@result[1]%> <%=@spoon[3]%> 스푼 <br>
    </div>
    <div>
    <img src="<%=asset_path '3.png'%>"></img><br>
    <%=@result[2]%> 듬뿍</div>